.container {
  width: 100%;
  outline: solid red;

  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;

  padding: 32px 16px;
  padding: 0 15px;
}

.body {
  font-family: Roboto, sans-serif;
  color: var(--text-color, #434455);

  background-color: #fff;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #434455;
}
.list {
  list-style: none;
}

.section-title {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  font-style: normal;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.grid-list {
  display: flex;
  column-gap: 24px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-item {
  flex-basis: calc((100% - 24px * (var(--items) - 1)) / var(--items));
}
/* Header */
.header-list,
.header-contacts-address {
  display: none;
}

/* Hero section */
.hero-section {
  background-color: #2e2f42;
  padding-top: 112px;
  padding-bottom: 112px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

/* Main Block */

.hero-title {
  color: var(--secondary-text-color, #fff);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  margin-bottom: 72px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn {
  color: var(--secondary-text-color, #fff);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  background-color: var(--accent);
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px 16px 32px;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/* Strategy */
.strategy-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.strategy-item {
  --items: 1;
}
.strategy-box {
  width: 100%;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;

  background-size: contain;
  margin-bottom: 8px;
  display: none;
  justify-content: center;
  align-items: center;
}
.strategy-subtitle {
  color: var(--subtitle-color, #2e2f42);
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.strategy-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-weight: 400;
}

.employmant-section {
  display: none;
}
/* Team */
.team-section {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}
.team-section .container {
  padding-left: 82px;
  padding-right: 82px;
}
.team-title {
  margin-bottom: 72px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

  --items: 1;
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}
.team-name-container {
  padding: 32px 16px;
}
.team-desc {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
/* Team */

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 8px;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: block;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}
.social-icon {
  fill: #f4f4fd;
}

/* <!-- Customers --> */

.customers-section {
  background-color: #fff;
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  color: var(--subtitle-color, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  column-gap: 16px;
}
.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  padding: 16px 32px;
  display: block;
  border-radius: 4px;
  border: 1px solid var(--lightslate, #8e8f99);
  color: #8e8f99;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover,
.customers-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.customers-icon {
  fill: currentColor;
}

/* footer */
.footer-blok {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
}
.footer-div {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  row-gap: 72px;
  justify-content: center;
  outline: solid blue;
  text-align: center;
}

.footer-info {
  color: var(--white, #fff);

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-form {
  gap: 24px;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.footer-lable {
  width: 100%;
}
.footer-send {
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 4px;
  background: var(--iris, #4d5ae5);
  color: var(--white, #fff);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border: none;

  cursor: pointer;
  transition: background-color 250ms, box-shadow 250ms;
}
.footer-send:hover,
.footer-send:focus {
  background: var(--ocean, #404bbf);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.05) inset;
}
.footer-input {
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  outline: none;
  padding: 8px 16px;
  background-color: transparent;
}
.footer-input::placeholder {
  color: var(--secondary-text-color, #fff);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}
footer .social-list {
  gap: 16px;
}
footer .social-link:hover,
footer .social-link:focus {
  background-color: #31d0aa;
}
.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.footer-logo {
  color: var(--accent, #4d5ae5);
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-bottom: 17.5px;
  display: block;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-icon {
  fill: var(--secondary-text-color);
}

footer .logo-color {
  color: var(--footer-text, #f4f4fd);
}

.footer-desc {
  color: var(--footer-text, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  margin-top: 16px;
  text-align: left;
}
.social-prg {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

@media screen and (min-width: 428px) {
  .container {
    width: 428px;
  }
}
@media screen and (max-width: 767px) {
  .footer-right {
    width: 100%;
  }
  .footer-send {
    max-width: 165px;
  }
}
