@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  /* Header */
  .header-list,
  .header-contacts-address {
    display: flex;
    align-items: center;
  }
  .header-contacts-list {
    flex-direction: column;
    gap: 0;
    align-items: center;
  }
  .header-menu {
    display: none;
  }

  .hero-title {
    margin-bottom: 36px;
    font-size: 56px;
  }
  .strategy-item {
    --items: 2;
  }
  .team-list {
    row-gap: 64px;
  }
  .team-item {
    --items: 2;
  }
  .team-section .container,
  .customers-section .container,
  .footer-blok .container {
    padding-left: 108px;
    padding-right: 108px;
  }
  .customers-list {
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }
  .footer-left {
    margin-right: 24px;
  }
  .footer-form {
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer-input {
    width: 264px;
  }
  .footer-div {
    text-align: left;
    justify-content: flex-start;
  }
}
